@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    a img
        border 0px
    #wrap
        width 650px

    svg
        .datapaths
            path
                fill none
                stroke red
                stroke-width 2px
