@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    a img
        border 0px
    #wrap
        width 650px

    svg
        .datapaths
            path
                fill none
                stroke red
                stroke-width 2px
                &.cssd
                    stroke PartyCSSD
                &.vv
                    stroke PartyVV
                &.spoz
                    stroke PartySPOZ
                &.ods
                    stroke PartyODS
                &.top
                    stroke PartyTOP
                &.sz
                    stroke PartySZ
                &.kscm
                    stroke PartyKSCM
                &.kdu
                    stroke PartyKDU
                &:hover
                    stroke green
