@import colors
@import prefixes
body
    margin 0px
    font-family arial, sans-serif
    a img
        border 0px
    #wrap
        width 650px
        .selectors
            @import selectors

    svg
        margin 0px
        float left
        .verticalGuide
            stroke #ccc
            stroke-width 1px
            // stroke-dasharray 2, 6
        .axis
            path
                stroke #333
                stroke-width 1px
            line
                stroke #999
                stroke-width 1px
                stroke-dasharray 2, 2
                &.minor
                    stroke-dasharray 2, 15
            text
                font-size 0.8em
            &.x
                line
                    stroke-dasharray 1, 0
                    stroke #333



        .datapaths
            path
                fill none
                stroke red
                stroke-width 3px
                stroke-linecap round
                stroke-linejoin round
                &.cssd
                    stroke PartyCSSD
                &.vv
                    stroke PartyVV
                &.spoz
                    stroke PartySPOZ
                &.ods
                    stroke PartyODS
                &.top
                    stroke PartyTOP
                &.sz
                    stroke PartySZ
                &.kscm
                    stroke PartyKSCM
                &.kdu
                    stroke PartyKDU
            .symbol
                path
                    fill white
                    &:hover
                        cursor pointer
                &.volby
                    &.cssd path
                        fill PartyCSSD
                    &.vv path
                        fill PartyVV
                    &.spoz path
                        fill PartySPOZ
                    &.ods path
                        fill PartyODS
                    &.top path
                        fill PartyTOP
                    &.sz path
                        fill PartySZ
                    &.kscm path
                        fill PartyKSCM
                    &.kdu path
                        fill PartyKDU

                &.cssd
                    path
                        stroke PartyCSSD
                        &:hover
                        &.active
                            fill PartyCSSD
                &.vv
                    path
                        stroke PartyVV
                        &:hover
                        &.active
                            fill PartyVV
                &.spoz
                    path
                        stroke PartySPOZ
                        &:hover
                        &.active
                            fill PartySPOZ
                &.ods
                    path
                        stroke PartyODS
                        &:hover
                        &.active
                            fill PartyODS
                &.top
                    path
                        stroke PartyTOP
                        &:hover
                        &.active
                            fill PartyTOP
                &.sz
                    path
                        stroke PartySZ
                        &:hover
                        &.active
                            fill PartySZ
                &.kscm
                    path
                        stroke PartyKSCM
                        &:hover
                        &.active
                            fill PartyKSCM
                &.kdu
                    path
                        stroke PartyKDU
                        &:hover
                        &.active
                            fill PartyKDU

            path.ghost
                stroke-width 1px
                stroke #ddd
.tooltip
    max-width 800px
