&
    position absolute
    top 0px
    left 0px
    height 132px
    width 100%
    background white
    > div
        position absolute
        top 0px
        &.parties
            width 300px
            left 0px
            label
                width 80px
                text-align center
        &.agencies
            width 350px
            right 0px
            .pair
                float right
                clear both
                label
                    float right
                    width 65px
                    text-align center
                .description
                    font-size 0.9em
                    margin-top 8px
                    margin-right 5px
                    width (350px - 90px)
                    text-align right
                    float right
        .pair
            float left
            input
                display none
            label
                display block
                margin 3px
                padding 4px 6px
                cursor pointer
                background #ddd

            label:hover
                opacity 0.7

            input:checked + label
                background HNLink
                color white
                &.cssd
                    background PartyCSSD
                    color black
                &.vv
                    background PartyVV
                    color black
                &.spoz
                    background PartySPOZ
                    color black
                &.ods
                    background PartyODS
                &.top
                    background PartyTOP
                &.sz
                    background PartySZ
                &.kscm
                    background PartyKSCM
                &.kdu
                    background PartyKDU
