body {
  margin: 0px;
  font-family: arial, sans-serif;
}
body a img {
  border: 0px;
}
body #wrap {
  width: 650px;
}
body #wrap .selectors > div {
  float: left;
  clear: left;
}
body #wrap .selectors .pair {
  float: left;
}
body #wrap .selectors .pair input {
  display: none;
}
body #wrap .selectors .pair label {
  display: block;
  margin: 3px;
  padding: 4px 6px;
  cursor: pointer;
  background: #eee;
}
body #wrap .selectors .pair label:hover {
  opacity: 0.7;
}
body #wrap .selectors .pair input:checked + label {
  background: #85bee6;
}
body #wrap .selectors .pair input:checked + label.cssd {
  background: #f29400;
}
body #wrap .selectors .pair input:checked + label.vv {
  background: #84d0f1;
}
body #wrap .selectors .pair input:checked + label.spoz {
  background: #fb9a99;
}
body #wrap .selectors .pair input:checked + label.ods {
  background: #006ab3;
  color: #fff;
}
body #wrap .selectors .pair input:checked + label.top {
  background: #7c0042;
  color: #fff;
}
body #wrap .selectors .pair input:checked + label.sz {
  background: #00ad00;
  color: #fff;
}
body #wrap .selectors .pair input:checked + label.kscm {
  background: #e3001a;
  color: #fff;
}
body #wrap .selectors .pair input:checked + label.kdu {
  background: #000;
  color: #fff;
}
body svg .axis path {
  display: none;
}
body svg .axis line {
  stroke: #999;
  stroke-dasharray: 2, 2;
}
body svg .datapaths path {
  fill: none;
  stroke: #f00;
  stroke-width: 1px;
}
body svg .datapaths path.cssd {
  stroke: #f29400;
}
body svg .datapaths path.vv {
  stroke: #84d0f1;
}
body svg .datapaths path.spoz {
  stroke: #fb9a99;
}
body svg .datapaths path.ods {
  stroke: #006ab3;
}
body svg .datapaths path.top {
  stroke: #7c0042;
}
body svg .datapaths path.sz {
  stroke: #00ad00;
}
body svg .datapaths path.kscm {
  stroke: #e3001a;
}
body svg .datapaths path.kdu {
  stroke: #000;
}
body svg .datapaths path:hover {
  stroke: #008000;
}
