body {
  margin: 0px;
  font-family: arial, sans-serif;
}
body a img {
  border: 0px;
}
body #wrap {
  width: 650px;
}
body #wrap .selectors > div {
  float: left;
  clear: left;
}
body #wrap .selectors .pair {
  float: left;
}
body svg .datapaths path {
  fill: none;
  stroke: #f00;
  stroke-width: 1px;
}
body svg .datapaths path.cssd {
  stroke: #f29400;
}
body svg .datapaths path.vv {
  stroke: #84d0f1;
}
body svg .datapaths path.spoz {
  stroke: #fb9a99;
}
body svg .datapaths path.ods {
  stroke: #006ab3;
}
body svg .datapaths path.top {
  stroke: #7c0042;
}
body svg .datapaths path.sz {
  stroke: #00ad00;
}
body svg .datapaths path.kscm {
  stroke: #e3001a;
}
body svg .datapaths path.kdu {
  stroke: #000;
}
body svg .datapaths path:hover {
  stroke: #008000;
}
