body {
  margin: 0px;
  font-family: arial, sans-serif;
}
body a img {
  border: 0px;
}
body #wrap {
  width: 650px;
}
body #wrap .selectors {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 132px;
  width: 100%;
  background: #fff;
}
body #wrap .selectors > div {
  position: absolute;
  top: 0px;
}
body #wrap .selectors > div.parties {
  width: 300px;
  left: 0px;
}
body #wrap .selectors > div.parties label {
  width: 80px;
  text-align: center;
}
body #wrap .selectors > div.agencies {
  width: 350px;
  right: 0px;
}
body #wrap .selectors > div.agencies .pair {
  float: right;
  clear: both;
}
body #wrap .selectors > div.agencies .pair label {
  float: right;
  width: 65px;
  text-align: center;
}
body #wrap .selectors > div.agencies .pair .description {
  font-size: 0.9em;
  margin-top: 8px;
  margin-right: 5px;
  width: 260px;
  text-align: right;
  float: right;
}
body #wrap .selectors > div .pair {
  float: left;
}
body #wrap .selectors > div .pair input {
  display: none;
}
body #wrap .selectors > div .pair label {
  display: block;
  margin: 3px;
  padding: 4px 6px;
  cursor: pointer;
  background: #ddd;
}
body #wrap .selectors > div .pair label:hover {
  opacity: 0.7;
}
body #wrap .selectors > div .pair input:checked + label {
  background: #174f82;
  color: #fff;
}
body #wrap .selectors > div .pair input:checked + label.cssd {
  background: #f29400;
  color: #000;
}
body #wrap .selectors > div .pair input:checked + label.vv {
  background: #84d0f1;
  color: #000;
}
body #wrap .selectors > div .pair input:checked + label.spoz {
  background: #fb9a99;
  color: #000;
}
body #wrap .selectors > div .pair input:checked + label.ods {
  background: #006ab3;
}
body #wrap .selectors > div .pair input:checked + label.top {
  background: #7c0042;
}
body #wrap .selectors > div .pair input:checked + label.sz {
  background: #00ad00;
}
body #wrap .selectors > div .pair input:checked + label.kscm {
  background: #e3001a;
}
body #wrap .selectors > div .pair input:checked + label.kdu {
  background: #000;
}
body svg {
  margin: 0px;
  float: left;
}
body svg .drawing {
  overflow: hidden;
}
body svg .verticalGuide {
  stroke: #ccc;
  stroke-width: 1px;
}
body svg .axis path {
  stroke: #333;
  stroke-width: 1px;
}
body svg .axis line {
  stroke: #999;
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
}
body svg .axis line.minor {
  stroke-dasharray: 2, 15;
}
body svg .axis text {
  font-size: 0.8em;
}
body svg .axis.x line {
  stroke-dasharray: 1, 0;
  stroke: #333;
}
body svg .datapaths path {
  fill: none;
  stroke: #f00;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
body svg .datapaths path.cssd {
  stroke: #f29400;
}
body svg .datapaths path.vv {
  stroke: #84d0f1;
}
body svg .datapaths path.spoz {
  stroke: #fb9a99;
}
body svg .datapaths path.ods {
  stroke: #006ab3;
}
body svg .datapaths path.top {
  stroke: #7c0042;
}
body svg .datapaths path.sz {
  stroke: #00ad00;
}
body svg .datapaths path.kscm {
  stroke: #e3001a;
}
body svg .datapaths path.kdu {
  stroke: #000;
}
body svg .datapaths .symbol path {
  fill: #fff;
}
body svg .datapaths .symbol path:hover {
  cursor: pointer;
}
body svg .datapaths .symbol.volby.cssd path {
  fill: #f29400;
}
body svg .datapaths .symbol.volby.vv path {
  fill: #84d0f1;
}
body svg .datapaths .symbol.volby.spoz path {
  fill: #fb9a99;
}
body svg .datapaths .symbol.volby.ods path {
  fill: #006ab3;
}
body svg .datapaths .symbol.volby.top path {
  fill: #7c0042;
}
body svg .datapaths .symbol.volby.sz path {
  fill: #00ad00;
}
body svg .datapaths .symbol.volby.kscm path {
  fill: #e3001a;
}
body svg .datapaths .symbol.volby.kdu path {
  fill: #000;
}
body svg .datapaths .symbol.cssd path {
  stroke: #f29400;
}
body svg .datapaths .symbol.cssd path:hover,
body svg .datapaths .symbol.cssd path.active {
  fill: #ffe0af;
}
body svg .datapaths .symbol.vv path {
  stroke: #84d0f1;
}
body svg .datapaths .symbol.vv path:hover,
body svg .datapaths .symbol.vv path.active {
  fill: #daf1fb;
}
body svg .datapaths .symbol.spoz path {
  stroke: #fb9a99;
}
body svg .datapaths .symbol.spoz path:hover,
body svg .datapaths .symbol.spoz path.active {
  fill: #fee1e0;
}
body svg .datapaths .symbol.ods path {
  stroke: #006ab3;
}
body svg .datapaths .symbol.ods path:hover,
body svg .datapaths .symbol.ods path.active {
  fill: #9cd7ff;
}
body svg .datapaths .symbol.top path {
  stroke: #7c0042;
}
body svg .datapaths .symbol.top path:hover,
body svg .datapaths .symbol.top path.active {
  fill: #ff8bc9;
}
body svg .datapaths .symbol.sz path {
  stroke: #00ad00;
}
body svg .datapaths .symbol.sz path:hover,
body svg .datapaths .symbol.sz path.active {
  fill: #9aff9a;
}
body svg .datapaths .symbol.kscm path {
  stroke: #e3001a;
}
body svg .datapaths .symbol.kscm path:hover,
body svg .datapaths .symbol.kscm path.active {
  fill: #ffaab4;
}
body svg .datapaths .symbol.kdu path {
  stroke: #000;
}
body svg .datapaths .symbol.kdu path:hover,
body svg .datapaths .symbol.kdu path.active {
  fill: #b3b3b3;
}
body svg .datapaths path.ghost {
  stroke-width: 1px;
  stroke: #ddd;
}
.tooltip {
  max-width: 800px;
}
